.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  width: 100%;
  position: fixed;
  color: white;
  font-size: 24px;
  z-index: 1000;
}

.App-title {
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 6px;
  line-height: 24px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
